.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#658E9C, #F6F7EB);
}

.Thermostat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 450px;
  border-radius: 50%;
  border-style: solid white;
  background-color: grey;
}

.TemperatureControls {
  display: flex;
  flex-direction: row;
}

.LowUsage {
  background-image: linear-gradient(#226F54, #D7F171);
}

.MediumUsage {
  background-image: linear-gradient(#658E9C, #F6F7EB);
}

.HighUsage {
  background-image: linear-gradient(#DA2C38, #F4F0BB);
}
