.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#658E9C, #F6F7EB);
}

.thermostat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 450px;
  border-radius: 50%;
  border-style: solid white;
  background-color: grey;
}
